<header id="header"class="jumbotron jumbotron-fluid" id="header">
    <div class="container">
        <h3 class="display-3">WorldCup 2018</h3>
        <p class="lead">International football event</p>
      </div>
</header>

<div class="container-fluid">
  <div class="row" id="main-content">
    <aside class="col-3">
      <app-list></app-list>
    </aside>
    <section class="col-7">
      <h1>Reccr - The Recommendation Engine</h1>
      <p>The presentation had Jerry completely enamored. Once in a while, he would tab over to twitter to see who commented
        on the new technology being unveiled. Top tech journalists from around the world had something to say. Whether they
        praised it for the product's ingenuity or slammed it for its privacy intrusions. As always, the more mild-mannered
        and realistic people replied with, "People will get used to it."</p>
      <p>And Jerry sure would. He patiently awaited while the man in the white turtleneck on stage talked about feature after
        feature of the Reccr.</p>
      <p>"We wanted to rethink the internet. We looked at other products, we examined the social media of our time and we realized
        that what people are looking for is always hidden. And that is why we built Reccr," the screen behind the man changed
        to show Facebook, Twitter, and various news sites wizzing by.</p>
      <p>"What if you could harness the power of a recommendation engine to filter not just a list of movies for your favorites,
        but your facebook for the posts you want to see, Pinterest for the clothes and projects you're interested in, and
        news for the news that truly matters to you?"</p>
      <p>The presentation ended with the date of release and the price. Only $299 and a $30/month subscription. The outcry at
        the prices was soon muffled as tech reporters with early access posted Reccr's features in action.</p>
      <p>Jerry would get one. He wished he could have been there for the actual conference but from the comfort of his kitchen
        in his suburban home, he reached for a kombucha and went on to read more thoughts and articles on the technology.</p>
      <hr>
    </section>
  </div>
  <footer class="row">
    <div class="col">
      <p>Footer</p>
    </div>
  </footer>
</div>